@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
    min-height: 100vh;

    background-color: rgb(240, 240, 240);

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#app {
    
}




header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 5em;

    color: white;
    background-color: #252525;
}

header h1 {
    display: inline;
    font-size: 5em;

}

header img {
    padding: 2em;
}

.trafiklab-logo {
    height: 4em;
}

.react-logo {
    height: 4em;
    filter: invert(100%)
}







.main {

    position: relative;

    display: flex;
    flex-direction: column;


    max-width: 50em;
    margin: 0 auto;

    padding: 2em;

    border-radius: 5px;

    background-color: rgb(230, 230, 230);
}

.main h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: .2em 0em 1em 0em;
}

.main label {
    font-size: 0.8em;

    margin: 0em 0em .4em 0em;
}

.main input {

    width: 100%;
    padding: 1em 1em;

    box-sizing: border-box;
    border: none;

    margin: 0em 0em 1.5em 0em;
}


.main button {
    align-self: baseline;

    padding: .7em 1.5em;
    margin: 0em 0em 3em 0em;

    border: none;
    border-radius: 5px;

    background-color: #252525;
    color: white;

    font-weight: bold;

    cursor: pointer;
}
.main button:hover {
    background-color: white;
    color: black;

    transition: .1s;
}

table {
  border: 2px solid #252525;

}

th, td {
  padding: 1em;
  text-align: center;
}

th {
    background-color: #252525;
    font-weight: bold;
    color: white;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

tbody {
    border-bottom: 1px solid rgb(179, 179, 179);
}